body {
  background-color: rgb(155, 155, 155);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: grey;
}

section {
  line-height: 1.8;
}

#description {
  width: 500px;
  float: right;
  position: relative;
  right: 200px;
  top: 50px;
}

#ingredients {
  text-align: left;
  padding: 50px;
  background-color: grey;
  border-style: solid;
  width: 200px;
  position: relative;
  left: 100px;
}

#method {
  width: 500px;
  position: relative;
  left: 500px;
  bottom: 400px;
  background-color: grey;
  padding: 50px;
  border-style: solid;
}

h1 {
  text-align: center;
}

img {
  position: relative;
  left: 100px;
}
